

<mat-drawer-container autosize>
  <mat-drawer #basket mode="side" >
    <!-- by passing in an observable with the async pipe we are telling the component that the value it is expecting, is coming to it
    through an asyncronous observable and the value emitted by that observable will be accessable within the component-->
    <app-basket [productsInBasket]="basketProducts$ | async"></app-basket>
  </mat-drawer>

  <div>
    <div class="header">
      <div>
        <button (click)="basket.toggle()">

          <mat-icon fontIcon="shopping_basket"></mat-icon>
        </button>
      </div>
      <div class="store-name">
        Hardware 4 U

      </div>
    </div>

    <app-store-front [products]="products$ | async">

    </app-store-front>
  </div>


</mat-drawer-container>
